@use "../variables/color-palettes";

button {
  font-weight: bold;
  font-size: 16px;
  color: var(--c4);
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--c3);
  }

  &:active {
    color: var(--c5);
  }
}
