:root {
  --c1: #181824;
  --c2: #25273c;
  --c3: #c4c6df;
  --c4: #55576f;
  --c5: #436ed2;
}

body[data-theme="light"] {
  --c1: white;
  --c2: white;
  --c3: #4d4c5c;
  --c4: #9b9ba3;
  --c5: #436ed2;
}
