@use "../../../variables/color-palettes";

.todo-main__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: var(--c4);

  .todo-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--c3);
    cursor: pointer;

    &.hidden {
      display: none;
    }

    .interface-icon {
      display: none;
    }

    &:hover {
      .interface-icon {
        display: block;
        margin-right: 0px;
        margin-left: auto;
      }
    }

    &.checked {
      .todo-list__todo-title {
        text-decoration: line-through;
        color: var(--c4);
      }
    }
  }
}
