@use "todo/todo";
@use "todo/__header/todo__header";
@use "todo/__form/todo__form";
@use "todo/__main/todo__main";
@use "todo/__main/__list/todo-main__list";
@use "todo/__main/__footer/todo-main__footer";
@use "todo/__filters/todo__filters";
@use "variables/color-palettes";

@use "components/a";
@use "components/button";
@use "components/input";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: var(--c1);
}

.background-image {
  width: 100vw;
  height: 50vh;
}

.interface-icon {
  background-color: transparent;
  border: none;
}